@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1.distinction{
  font-weight: 900;
  font-size: 54px;
  color: #FFFFFF;
  background-color: #000000;
  text-transform: uppercase;
}

#distinction{
  background-color: #A4520C;
  color: #FFFFFF;
  weight: 320px;
