@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');



body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(worksbackground.png);
  background-color;
}

h1.works{
  font-weight: 900;
  font-size: 54px;
  color: #FFFFFF;
  text-transform: uppercase;
}

#works{
background-image: url(img/worksbackground.png);
color:#FFFFFF;
}
