.about {
  overflow-x: hidden;

  width: 100vw;
  margin-bottom: 18px;

  background: linear-gradient(to right, rgba(0,0,0,0), teal), linear-gradient(to right, rgba(255,200,20,.3), rgba(255,100,30,.2)), linear-gradient(to top right, red, rgba(0,0,0,0)), radial-gradient(closest-corner at 20% 80%, blue, red);
  background-attachment: fixed;
}
article {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin: 20px auto;
}

main h1 {
  margin-top: 50px;
  margin-bottom: 5px;

  font-family: "rodchenkoctt", sans-serif;
  font-size: 64px;
}

main h2, h3  {
  text-transform: uppercase;

  font-family: "AkzidenzGroteskPro-BoldCn",sans-serif;
  font-size: 20px;
}


@media all and (min-width:768px) {
  .about {
    height: 100vh;
  }

  article {
    margin: 152px auto;
  }
  
  main h1 {
    font-size: 160px;
  }
}

@media all and (min-width:1024px) {
  .about {
    height: 100vh;
  }
  
  article {
    margin: 132px auto;
  }
  main h1 {
    font-size: 200px;
  }
}
