.about {
  display: flex;
  flex-direction: column;

  width: 436px;

  justify-content: center;
}

 h1 {
  padding-top: 11px;
  padding-left: 11px;

  color: #B4332C;

  font-family: "New Old Ultra Expanded";
  font-size: 30px;
  line-height: 30px;
}

 .paragraph1 p {
  width: 390px;
  padding-top: 11px;
  padding-left: 10px;

  text-align: left;

  font-family: "Helvetica Neue";
  font-size: 13px;
  line-height: 19px;
}
