.distinction {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.paragraph2 p {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 10px;

  text-align: left;

  font-family: "Helvetica Neue";
  font-size: 13px;
  line-height: 19px;
}

 @media(min-width: 1024px) {
 .paragraph2 p {
   width: 179vh;

   text-align: justify;
  }
}
