
.title   {
  display: flex;
  flex-direction: row;
  align-items: center;

  }
.figure {
  width: 25px;
  height: 25px;
  background-color: #000;
}

.title-inner {
  margin-left: 2%;
}

.photo {
  margin-top: 17px;
  width:271px;
  height: 163px;
  background-color: #C4C4C4;
}
section.distinction p {
  width: 70%;
  margin-left: 45px;
  line-height: 25px;
  margin-bottom: 10px;
}
