section.more-info ul {
  margin-top: 25px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 20px;
}

section.more-info li {
  font-weight: 200;
}

section.more-info ul {
  list-style: disc;
  margin-left: 50px;
}


section.more-info ul {
margin-left: 50px;

list-style: disc;
}
section.more-info .title-inner {
  margin-top: 15px;
}

@media {min-width:768 px;{
  display: block;
  font-family: "Roboto";
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 200;
}

@media {min-width:320 px;{
  display: block;
  font-family: "Roboto";
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 200;
}
