.quotes {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 24px;
  padding-top: 21px;
}
blockquote {
  font-size: 22px;
  font-family: AkzidenzGroteskPro;
  margin-top: 25px;
}
h3 {
  font-size: 20px;
  color: #FF3D21;
  text-transform: uppercase;
}
ul {
  list-style: disc;
}
