.names {
  display: none;
}

.pic1 > img {
  width: 150px;
}

.pic2 > img {
  width: 150px;
}

.pic3 > img {
  width: 150px;
}

.pic4 > img {
  width: 150px;
}

.pic5 > img {
  width: 150px;
}

.pic6 > img {
  width: 150px;
}

.works {
 display: grid;

  margin-top: 11px;

  justify-content: center;
  align-items: center;
 grid-template-columns: 150px 150px;
 grid-template-rows: 225px 225px 225px;
 grid-gap: 5px;
}

.pic1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

.pic2 {
  grid-column-start: 2;
  grid-row-start: 1;
}

.pic3 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.pic4 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.pic5 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.pic6 {
  grid-column-start: 2;
  grid-row-start: 3;
}

@media (min-width: 768px) {
  .names {
    display: none;
  }
}

  .works {
   display: grid;

    margin-top: 11px;

    justify-content: center;
    align-items: center;
   grid-template-columns: 200px 200px 200px;
   grid-template-rows: 300px 300px;
   grid-gap: 10px;
  }

  .pic1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .pic2 {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .pic3 {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .pic4 {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .pic5 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .pic6 {
    grid-column-start: 3;
    grid-row-start: 2;
  }

  .pic1 > img {
    width: 200px;
  }

  .pic2 > img {
    width: 200px;
  }

  .pic3 > img {
    width: 200px;
  }

  .pic4 > img {
    width: 200px;
  }

  .pic5 > img {
    width: 200px;
  }

  .pic6 > img {
    width: 200px;
  }
}


@media (min-width: 1024px) {

  .works {
   display: grid;

    margin-top: 11px;

    justify-content: center;
    align-items: center;
   grid-template-columns: 200px 200px 200px;
   grid-template-rows: 300px 300px 300px 300px;
   grid-gap: 10px;
  }

  .pic1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .pic2 {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .pic3 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .pic4 {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .pic5 {
    grid-column-start: 3;
    grid-row-start: 3;
  }

  .pic6 {
    grid-column-start: 2;
    grid-row-start: 4;
  }

  .pic1 > img {
    width: 200px;
  }

  .pic2 > img {
    width: 200px;
  }

  .pic3 > img {
    width: 200px;
  }

  .pic4 > img {
    width: 200px;
  }

  .pic5 > img {
    width: 200px;
  }

  .pic6 > img {
    width: 200px;
  }
}

@media (min-width: 1440px) {
  .works {
   display: grid;

    margin-top: 11px;

    justify-content: center;
    align-items: center;
   grid-template-columns: 300px 300px 300px;
   grid-template-rows: 450px 450px 450px 450px;
   grid-gap: 10px;
  }

  .pic1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .pic2 {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .pic3 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .pic4 {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .pic5 {
    grid-column-start: 3;
    grid-row-start: 3;
  }

  .pic6 {
    grid-column-start: 2;
    grid-row-start: 4;
  }

  .pic1 > img {
    width: 300px;
  }

  .pic2 > img {
    width: 300px;
  }

  .pic3 > img {
    width: 300px;
  }

  .pic4 > img {
    width: 300px;
  }

  .pic5 > img {
    width: 300px;
  }

  .pic6 > img {
    width: 300px;
  }
}
