.name1,.name2, .name3, .name4, .name5, .name6 {
  display: none;
}

.pic1 > img {
  width: 150px;
}

.pic2 > img {
  width: 150px;
}

.pic3 > img {
  width: 150px;
}

.pic4 > img {
  width: 150px;
}

.pic5 > img {
  width: 150px;
}

.pic6 > img {
  width: 150px;
}

.works {
 display: grid;

  margin-top: 11px;

  justify-content: center;
  align-items: center;
 grid-template-columns: 150px 150px;
 grid-template-rows: 225px 225px 225px;
 grid-gap: 5px;
}

.grid-item {
  display: none;
}

@media (min-width: 768px) {
  .name1, .name2, .name3, .name4, .name5, .name6 {
    display: none;
  }

  .grid-item {
    display: none;
  }

  .works {
   display: grid;

    margin-top: 11px;

    justify-content: center;
    align-items: center;
   grid-template-columns: 200px 200px 200px;
   grid-template-rows: 300px 300px;
   grid-gap: 10px;
  }

  .pic1 > img {
    width: 200px;
  }

  .pic2 > img {
    width: 200px;
  }

  .pic3 > img {
    width: 200px;
  }

  .pic4 > img {
    width: 200px;
  }

  .pic5 > img {
    width: 200px;
  }

  .pic6 > img {
    width: 200px;
  }
}


@media (min-width: 1024px) {
  .name1, .name2, .name3, .name4, .name5, .name6 {
    display: block;
  }

  .grid-item {
    display: block;
  }

  .works {
   display: grid;

    margin-top: 11px;

    justify-content: center;
    align-items: center;
   grid-template-columns: 200px 200px 200px 200px 200px;
   grid-template-rows: 300px 300px 300px 300px;
   grid-gap: 10px;
  }

  .pic1 > img {
    width: 200px;
  }

  .pic2 > img {
    width: 200px;
  }

  .pic3 > img {
    width: 200px;
  }

  .pic4 > img {
    width: 200px;
  }

  .pic5 > img {
    width: 200px;
  }

  .pic6 > img {
    width: 200px;
  }
}

@media (min-width: 1440px) {
  .name1,.name2, .name3, .name4, .name5, .name6 {
    display: block;
  }

  .works {
    display: grid;

    margin-top: 11px;

    justify-content: center;
    align-items: center;
    grid-template-columns: 270px 270px 270px 270px 270px;
    grid-template-rows: 460px 460px 460px 460px;
    grid-gap: 15px;
  }

  .pic1 > img, .pic2 > img, .pic3 > img, .pic4 > img, .pic5 > img, .pic6 > img {
    width: 270px;
  }
}
