@font-face {
  font-family: "AkzidenzGroteskPro-BoldCn", sans-serif;

  src: url("../fonts/AkzidenzGroteskPro-BoldCn.woff");
}

@font-face {
  font-family: "Roboto-Light", sans-serif;

  src: url("../fonts/Roboto-Light.woff");
}

@font-face {
  font-family: "rodchenkoctt", sans-serif;

  src: url("../fonts/rodchenkoctt.woff");
}