@font-face {
  font-family: "Helvetica Neue";

  src: url("../fonts/helveticaneuecyr-roman.woff") format("woff");
}

@font-face {
  font-family: "New Old";

  src: url("../fonts/NewOld_UltraExpandedBlack.woff") format("woff");
}

@font-face {
  font-family: "New Old";

  src: url("../fonts/NewOld_UltraExpandedBlack.woff") format("woff");
}
