footer {
  display: flex;

  width: 500px;
  height: 100px;

  background-color: black;
}
.footer > a {
  text-decoration: none;

  color: white;
}
.logo-for-footer > img {
  height: 100px;
  margin-right: 20px;

}
.authors {
  width: auto;
  margin-top: 10px;
  margin-right: 20px;
}
.authors  ul {
  font-size: 10px;
}
.authors a {
   text-decoration: none;
   text-transform: none;

   color: white;

   font-family: "Helvetica Neue";
 }
.authors > p {
  margin-bottom: 7px;

  text-align: center;

  color: #FFF;

  font-family: "Helvetica Neue";
  font-size: 10px;
  font-weight: bolder;
}
@media all and (min-width: 500px)
{
footer {
    width: auto;
    justify-content: center;
}
@media all and (min-width: 779px)
{
.authors {
    width: 700px;
}
.authors ul {
  display: flex;
  flex-direction: row;

  margin-top: 20px;

  text-align: center;

  justify-content: space-between;
}
.authors a {
  font-size: 15px;
}
}
