footer {
  width: 320px;
  height: 100px;
  background-color: black;
  display: flex;
}
.footer > a {
  text-decoration: none;
  color: white;
}
.logo-for-footer > img {
  height: 100px;
  margin-right: 20px;

}
.authors {
  margin-top: 10px;
  margin-right: 20px;
}
.authors  ul {
  font-size: 10px;
}
.authors a {
   font-family: "Helvetica Neue";
   color: white;
   text-decoration: none;
   text-transform: none;
 }
.authors > p {
  font-weight: bolder;
  margin-bottom: 7px;
  font-size: 10px;
  color: #FFF;
  font-family: "Helvetica Neue";
}
@media all and (min-width: 320px)
{
footer {
    width: auto;
    justify-content: center;
}
