  header {
    position: fixed;
    width: 100%;
    display: flex;
    background-image: linear-gradient(to right, #000 75%, #FF3D21 25%);
    height: 55px;
    padding: 14px 15px;
    font-family: "Roboto";
    /* justify-content: space-between; */
    align-items: center;
  }

  div.logo img{
    width: 25px;
    height: 25px;
  }
  header ul {
    display: flex;
    order: -1;
  }

  header li a,
  header a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
  }

  header ul li {
    display: none;
  }

  header a:nth-last-child(5) {
    display: flex;
    justify-content: flex-end;

  }

  @media all and (min-width:768px) {
    header ul li {
      display: block;
      margin-right: 38px;
    }
    header>a {
      display: none;
    }
    .menu {
      margin-left: 90px;
      margin-right: 40px;
    }

    header ul {
      order: 0;
    }
    header ul li:nth-child(4) {
      margin: 0;
    }
    header ul li a:hover {
      border: 2px solid #FF3D21;
      padding: 5px;
    }
  }
