header {
  display: flex;
  flex-direction: row-reverse;
  background-image: linear-gradient(to right, #000 75%, #FF3D21 25%);
  padding: 14px 15px;
  font-family: "Roboto";
  justify-content: space-between;
  align-items: center;
}
div.logo img {
  width: 25px;
  height: 25px;
}

header ul {
  display: flex;
  order: -1;
}

header li a,
header a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

header ul li {
  display: none;
}


@media all and (min-width:768px) {
  header ul li {
    display: block;
    margin-right: 38px;
  }

  header>a {
    display: none;
  }

  .menu {
    margin-left: 90px;
    margin-right: 40px;
  }

  header ul {
    order: 0;
  }

  header ul li:nth-child(4) {
    margin: 0;
  }
}
/*
.box {
  position: relative;

  display: flex;
  flex-direction: row;

  width: 55%;
  height: 50px;

  background-color: #FF3D21;
}


header a {
  margin-right: 10px;
  color: #fff;
}

header .box {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: space-around;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
} */
