@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,cyrillic-ext');
@import "main.css";
@import "sections/about.css";
@import "sections/distinction.css";
@import "sections/works.css";
@import "sections/quotes.css";
@import "sections/more-info.css";
@import "footer.css";
@import "header.css";

* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Montserrat', sans-serif;
}
