html,body {
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

main h1, h2, p {
  color: #000;
}

main h1 {
  font-family: "rodchenkoctt", sans-serif;
  font-size: 64px;
}

main h2, h3  {
  font-family: "AkzidenzGroteskPro-BoldCn",sans-serif;
  font-size: 20px;
}


main p, blockquote, li {
  font-family: "Roboto-Light", sans-serif;
  font-size: 17px;
}

header a {
  font-family: "AkzidenzGroteskPro-BoldCn",sans-serif;
  font-size: 16px;
}

header .box .logo {
  font-family: "rodchenkoctt", sans-serif;
  font-size: 18px;
}
