.avatar {
  padding-top: 20px;
}

.content_bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_bio h1 {
  font-family: Prata, sans-serif;
  font-size: 36px;
}

.content_bio span {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  text-align: center;
}

.content_bio h2 {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 18px;
  text-align: right;
  padding-top: 30px;
  padding-bottom: 20px;
}

.content_bio_text {
  width: 295px;
  padding-left: 12.5px;
}
.content_bio p {
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

.border {
  display: flex;

  background-color: #FFD28D;
  width: 300px;
  height: 4px;
  border-radius: 10px;
  align-items:center;

  margin-top: 10px;
}

.distinction {


  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 2;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

.distinction li {
  list-style-type: disc;
  color: #FFD28D;
}

.distinction span {
  color: black;
}

.more-info {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
  margin-bottom: 62px;

  align-items: center;
}
.more-info a {
  padding: 10px 56px;

  text-decoration: none;

  color: #fff;
  border-radius: 50px;
  background-color: #FFBA51;

  font-size: 18px;
}
.more-info .inside {
  width: 330px;
  margin-top: -1px;

  border-radius: 10px;
  background: #ffba51;
}
.more-info ul {
  padding: 20px;

  color: #fff;

  font-size: 18px;
}
